<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title  class="title">
  
      Computer - Laptup
      <ion-icon name="star-half-outline" position="start" class="star"></ion-icon>
    </ion-title>
  
  </ion-toolbar>

</ion-header>

<ion-content >
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/icon/logo.jpg" />
    <ion-card-header>
      <ion-card-title class="cardTitle">Quienes Somos</ion-card-title>
      <ion-card-subtitle class="cardSubtitle">Misión</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content class="cardContent">
      Empresa apasionada en lo que hacemos, 
      brindar una excelente atención al cliente,
       asesoría de primera y venta de productos informáticos de altísima calidad.
    </ion-card-content>
    <ion-card-header>
      <ion-card-subtitle  class="cardSubtitle">Visión</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content  class="cardContent" >
      Buscamos ser la empresa con mayor contribución  tecnológica de todo el Ecuador, a traves
      de nuestro productos de alta calidad, buscando aumentar nuestro mercado a nivel
      nacional e internacional.
    </ion-card-content>
    <ion-card-header>
      <ion-card-subtitle  class="cardSubtitle">Objetivo</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content  class="cardContent">
      Mejorar la calidad de vida de todas las personas con todos nuestros productos
      técnologicos.
    </ion-card-content>
  </ion-card>
</ion-content>
