<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title  class="title">
      Computer - Laptup
      <ion-icon name="star-half-outline" position="start" class="star"></ion-icon>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-card>
    <img alt="Matriz" src="../../assets/icon/recreo.jpg" />
    <ion-card-header>
      <ion-card-title>Matriz - El Recreo</ion-card-title>
      <ion-card-subtitle>Dirección</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Av. Pedro Vicente Maldonado S11-122, Quito 170111.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="caracol" src="../../assets/icon/caracol.jpg" />
    <ion-card-header>
      <ion-card-title>El Caracol</ion-card-title>
      <ion-card-subtitle>Dirección</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Av. Río Amazonas N37 y, Quito 170507.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="espiral" src="../../assets/icon/espiral.jpg" />
    <ion-card-header>
      <ion-card-title>El Espiral</ion-card-title>
      <ion-card-subtitle>Dirección</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Jorge Washington 20-80, Quito 170143.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="sanluis" src="../../assets/icon/sanluis.jpg" />
    <ion-card-header>
      <ion-card-title>San Luis Shopping</ion-card-title>
      <ion-card-subtitle>Dirección</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Av. Gral. Rumiñahui, Quito. Centro Comercial San Luis Shopping, Quito.
    </ion-card-content>
  </ion-card>
 
</ion-content>
